@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


*{
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 8em;
}

.title{
    margin-top: 15px;
    text-align: left;
    padding: 2px;
    border: dotted 2.4px black;
    align-self: center;
    /* margin-left: 10%; */
}
.title:hover{
    background-color: burlywood;
}

.title > h2{
    font-size: 1.6em;
    font-family: 'Space Mono', monospace;
}

.navigation_bar{
    
}

.navigation_bar >li{
    display: inline-block;
    list-style: none;
    margin: 8px;
    padding: 5px;
    box-sizing: border-box;
    /* border: groove skyblue 2px; */
    flex: 1;    
}

.navigation_bar > li:hover{
    text-decoration:underline 4px tomato;
    
}
.navigation_bar li > a{
    text-decoration: none;
    color:black;
    font-family: 'Space Mono', monospace;
    font-size: 1.3em;
}
.navigation_bar > li > a:hover{
    font-size: 1.4em;
}

.login{
    font-family: 'Space Mono', monospace;
    font-size: 1.4em;
    text-indent: 0em;
    margin-top: 15px;
    width: 14em;
}

.login p:hover{
    font-size: 1.05em;
    font-style: italic;
}


.search .material-symbols-outlined{
    font-size: 2em;
}

.search{
    display: flex;
    justify-content: center;
}

.search button{
    margin-left: 1em;
    width: 5em;
    background-color:burlywood;
    border: 1px solid midnightblue;
    border-radius: 10px;
    
}

.search input[name="things"]{
    padding: 0.3em;
    font-family: 'Space Mono', monospace;
    font-size: 1.4em;
    width: 38%;
    border: 2px solid black;
    border-radius: 50px;
}


.slogan p:nth-child(1){
    position: relative;
    margin-left: 40%;
    font-size: 2em;
}

.slogan p:nth-child(2){
    position: relative;
    margin-left: 50%;
    font-size: 2em;
    line-height: -2em;

}

.container{
    width: 65%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: auto auto; /* two columns */
    border: solid   black 3px;

}

.container > div{
    border: solid black 2px;
    height: 35em;
    text-align: center;
}

.container > div > img{
    margin-top: 2em;
    width: 26em;
    height: 18em;
}

.container > div > p{
    display: block;
    letter-spacing: 4px;
    font-size: 1.2em;
    text-align: start;
    margin-left: 20%;
}

.container > div > p > a{
    font-style:italic;
    margin-left: 10%;
}

.booking :hover{
    font-size: 1.1em;
}



.container .header {
    grid-column: 1 / span 2;
    font-size: 2em;
    font-style: oblique;
    font-stretch: expanded;
    /* background-color: burlywood; */
    padding: 1.0em 0em 2.0em  0em ;
    height: 1.6em;
}

.foot{
    display: flex;
    height: 30em;
    border: groove black 1px;
}

.modal {
    padding: 1em;
    width: 30%;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
  
  }
  

  
  /* extra styling */

  
  .button {
    border: 0;
    cursor: pointer;
    background: var(--gray-8);
    color: var(--gray-2);
    font-weight: 700;
    padding: var(--size-2) var(--size-4);
  }
  
  .button:hover,
  .button:focus {
    background: var(--cyan-9);
  }
  
  form {
    display: grid;
    gap: 0em;
  }
  







/* .navigation_bar > li > a[href="A"]{
    font-size: 40px;
} */

